@media only screen and (min-width : 600px) {
    body{
        width: 1200px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        border: 10px solid black; 
                padding: 20px; 
    }
    .img-cv {
        width: 400px;
        border-radius: 999px ;
    }
    .contenedor-gral{
       display: flex;
       flex-direction:row;
       padding: 20px;
       font-size: 20px;
    }
    .titulo-nombre-pc{
        background-color: aqua;
        text-align: center;
        font-size: 75px;
    }
    .titulo-nombre-cel{
        visibility: hidden;
    }
    .columna1{
        background-color: aqua;
        padding: 20px;
        font-size: 20px;
        height: 1400px;
    }
    .contenedor-1{
        padding: 20px;
       
    }
    .contenedor-lista{
        display: flex;
        flex-direction: column;
        
    }
    .descripcion{
        font-size: 35px;
    }
    .casa-logo{
        width:50px;
        margin-right: 8px;
    
    }
    .cel{
        width: 30px;
        height: 30px;
        padding-top: 17px;
        margin-right: 12px;
       
    }
    .mail{
        width: 30px;
        height: 30px;
        padding-top: 17px;
      margin-right: 10px;
      
    }
    .box{
        display: flex;
        flex-direction: row ;
        margin: 20px;
    
    }
    .mundo{
        width: 30px;
        height: 30px;
        padding-top: 17px;
        margin-right: 8px; 
      
    }
    h3{
        margin: 20px 0px 20px 0px;
    }
    .Exp-lab-celu{
        position: absolute;
        visibility: hidden;
    }
    .Exp-Lab-pc{
        background-color: aqua;
        font-size: 30px;
    }
    h2{
        background-color: aqua;
    }
}



    @media only screen and (max-width : 600px) {
        .img-cv {
            width: 350px;
            border-radius: 999px ;
            margin: 35px;
        }
    
        .titulo-nombre-pc{
            visibility: hidden;
            position: absolute;
            background-color: aqua;
            text-align: center;
            font-size: 50px;
        }
        .titulo-nombre-cel{
        background-color: aqua;
        text-align: center;
        font-size: 60px;
    }
        .columna1{
            background-color: aqua;
            padding: 20px;
            font-size: 20px;
            height: 800px;
        }
        .contenedor-1{
            padding: 20px;
           
        }
        .contenedor-lista{
            display: flex;
            flex-direction: column;
            
        }
        .descripcion{
            font-size: 20px;
        }
        .casa-logo{
            width:50px;
            margin-right: 6px;
        
        }
        .cel{
            width: 30px;
            height: 30px;
            padding-top: 17px;
            margin-right: 12px;
           
        }
        .mail{
            width: 30px;
            height: 30px;
            padding-top: 17px;
            margin-right: 10px;
          
        }
        .box{
            display: flex;
            flex-direction: row ;
            margin-left: 20px;
            font-size: 20px;
        
        }
        .mundo{
            width: 30px;
            height: 30px;
            padding-top: 17px;
            margin-right: 8px; 
          
        }
        h3{
            margin: 20px 0px 20px 0px;
            font-size: 30px;
          
        }
        
        .Exp-Lab-pc{
            position: absolute;
            visibility: hidden;
        }
        .Exp-lab-celu{
            background-color: aqua;
            margin: 20px 0px 20px 0px;
            font-size: 25px;
        }
        h2{
            background-color: aqua;
        }
        ul{
            font-size: 20px;
        }
        h4{
            font-size: 25px;
        }
        p {
           font-size: 20px; 
        }
        h5{
            font-size:20px ;
        }
        
        

    }